# Importing Related Libraries

In [7]:
import numpy as np
import pandas as pd
import json
import turn_to_df as ttdf
import os

# Getting English Data and Splitting to Translate Turkish

In [71]:
# training data
input_file_path = r"C:\Users\HILAL-PC\Desktop\Perceptron\input\train.json"
record_path = ['data','paragraphs','qas','answers']
train = ttdf.squad_json_to_dataframe_train(input_file_path=input_file_path,record_path=record_path)

Reading the json file
processing...

C:\Users\HILAL-PC\Desktop\Perceptron\turn_to_df.py:19: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  js = pd.io.json.json_normalize(file , record_path )
C:\Users\HILAL-PC\Desktop\Perceptron\turn_to_df.py:20: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  m = pd.io.json.json_normalize(file, record_path[:-1] )
C:\Users\HILAL-PC\Desktop\Perceptron\turn_to_df.py:21: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  r = pd.io.json.json_normalize(file,record_path[:-2])

shape of the dataframe is (87599, 6)
Done

C:\Users\HILAL-PC\Desktop\Perceptron\turn_to_df.py:28: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  main = pd.concat([ m[['id','question','context']].set_index('id'),js.set_index('q_idx')],1,sort=False).reset_index()

In [72]:
# dev data
input_file_path = r'C:\Users\HILAL-PC\Desktop\Perceptron\input\dev.json'
record_path = ['data','paragraphs','qas','answers']
verbose = 0
dev = ttdf.squad_json_to_dataframe_dev(input_file_path=input_file_path,record_path=record_path)

Reading the json file
processing...

C:\Users\HILAL-PC\Desktop\Perceptron\turn_to_df.py:50: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  js = pd.io.json.json_normalize(file , record_path )
C:\Users\HILAL-PC\Desktop\Perceptron\turn_to_df.py:51: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  m = pd.io.json.json_normalize(file, record_path[:-1] )
C:\Users\HILAL-PC\Desktop\Perceptron\turn_to_df.py:52: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  r = pd.io.json.json_normalize(file,record_path[:-2])

shape of the dataframe is (10570, 5)
Done

In [73]:
train.head()

,index,question,context,answer_start,text,c_id
0,5733be284776f41900661182,To whom did the Virgin Mary allegedly appear i...,"Architecturally, the school has a Catholic cha...",515,Saint Bernadette Soubirous,0
1,5733be284776f4190066117f,What is in front of the Notre Dame Main Building?,"Architecturally, the school has a Catholic cha...",188,a copper statue of Christ,0
2,5733be284776f41900661180,The Basilica of the Sacred heart at Notre Dame...,"Architecturally, the school has a Catholic cha...",279,the Main Building,0
3,5733be284776f41900661181,What is the Grotto at Notre Dame?,"Architecturally, the school has a Catholic cha...",381,a Marian place of prayer and reflection,0
4,5733be284776f4190066117e,What sits on top of the Main Building at Notre...,"Architecturally, the school has a Catholic cha...",92,a golden statue of the Virgin Mary,0

In [74]:
dev.head()

,id,question,context,answers,c_id
0,56be4db0acb8001400a502ec,Which NFL team represented the AFC at Super Bo...,Super Bowl 50 was an American football game to...,"[{'answer_start': 177, 'text': 'Denver Broncos...",0
1,56be4db0acb8001400a502ed,Which NFL team represented the NFC at Super Bo...,Super Bowl 50 was an American football game to...,"[{'answer_start': 249, 'text': 'Carolina Panth...",0
2,56be4db0acb8001400a502ee,Where did Super Bowl 50 take place?,Super Bowl 50 was an American football game to...,"[{'answer_start': 403, 'text': 'Santa Clara, C...",0
3,56be4db0acb8001400a502ef,Which NFL team won Super Bowl 50?,Super Bowl 50 was an American football game to...,"[{'answer_start': 177, 'text': 'Denver Broncos...",0
4,56be4db0acb8001400a502f0,What color was used to emphasize the 50th anni...,Super Bowl 50 was an American football game to...,"[{'answer_start': 488, 'text': 'gold'}, {'answ...",0

In [93]:
train[80000:].to_excel('train_eng_sum_10.xlsx', index=False)

In [25]:
dev.to_csv('dev_eng.csv', index=False)

# Importing Turkish Dataset

In [98]:
ds_path = r"C:\Users\HILAL-PC\Desktop\Perceptron\input\tr"
datasets = [f for f in os.listdir(ds_path) if f.endswith('.xlsx')]

In [99]:
df = pd.concat((pd.read_excel(os.path.join(ds_path, file)) for file in datasets))

In [100]:
df.head()

,indeks,soru,bağlam,cevap_başlangıç,metin,c_id
0,57301a88b2c2fd1400568878,Amerikalı-liberyalılar kabileleri neyi dışladı?,Amerikalı-Liberyalı yerleşimciler karşılaştıkl...,638,kendi topraklarında vatandaşlık,17270
1,57301a88b2c2fd1400568879,Amerikalı-Liberyalılar ne yapmak için misyonl...,Amerikalı-Liberyalı yerleşimciler karşılaştıkl...,1024,yerli halkları eğitmek.,17270
2,57301c4fb2c2fd140056888f,William R. Tolbert'in ölümünden kim sorumluydu?,"12 Nisan 1980'de, Krahn etnik grubundan Başçav...",19,Krahn etnik grubundan Başçavuş Samuel Doe lid...,17271
3,57301c4fb2c2fd1400568890,William R. Tolbert hangi tarihte öldürüldü?,"12 Nisan 1980'de, Krahn etnik grubundan Başçav...",3,12 Nisan 1980,17271
4,57301c4fb2c2fd1400568891,William R. Tolbert'in öldüğü gün kim idam edi...,"12 Nisan 1980'de, Krahn etnik grubundan Başçav...",195,Tolbert'in kabinesinin çoğunluğu ve diğer Amer...,17271

# Explatory Data Analysis

In [101]:
df.shape

(87599, 6)

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87599 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   indeks            87599 non-null  object
 1    soru             87599 non-null  object
 2    bağlam           87599 non-null  object
 3    cevap_başlangıç  87599 non-null  int64
 4    metin            87599 non-null  object
 5    c_id             87599 non-null  int64
dtypes: int64(2), object(4)
memory usage: 4.7+ MB